@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  ::selection {
    @apply bg-neutral-950 text-neutral-50;
  }

  html,
  body {
    @apply bg-white dark:bg-neutral-900;
  }

  html {
    @apply overflow-hidden scroll-smooth antialiased;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
  }

  body {
    @apply font-sans text-base text-gray-900;
  }

  #__next {
    @apply min-h-dynamic-screen;
  }

  article {
    @apply flex flex-col;
  }

  p {
    @apply mb-6 leading-slacker;
  }

  a,
  button {
    @apply cursor-pointer;
    outline: none;
  }

  a {
    @apply transition-colors duration-300;
  }

  button:focus {
    outline: none;
  }

  button:disabled,
  button[disabled] {
    @apply cursor-not-allowed;
  }

  h1,
  h2,
  h3 {
    @apply scroll-mt-16 font-semibold slashed-zero tracking-tighter text-primary lg:scroll-mt-8;
  }

  h1 {
    @apply text-2xl md:text-3xl;
  }

  h2 {
    @apply text-lg md:text-xl;
  }

  h3 {
    @apply md:text-lg;
  }

  h2 + h3 {
    @apply !mt-0;
  }

  ol > li::marker {
    @apply font-semibold;
  }

  ul > li {
    @apply pl-2;
  }

  ul > li::marker {
    @apply text-gray-400;
  }

  li div {
    @apply inline;
  }

  li p,
  li div,
  li h1,
  li h2 {
    @apply my-0;
  }

  hr {
    @apply my-6 border-gray-200 dark:border-accent;
  }

  img,
  object {
    @apply rounded-xl border;
  }

  pre {
    @apply overflow-x-auto break-normal rounded-b-lg border-x border-b border-gray-200 bg-white p-3 text-left text-xs leading-slacker;
  }

  code {
    @apply whitespace-pre-wrap;
  }

  code .sh__line::before {
    counter-increment: sh-line-number 1;
    content: counter(sh-line-number);
    margin-right: 24px;
    text-align: right;
    color: #a4a4a4;
  }

  pre code {
    counter-reset: sh-line-number;
  }

  @media (prefers-color-scheme: dark) {
    ::selection {
      @apply text-neutral-950 bg-neutral-50/50;
    }
  }
}

@layer base {
  .prose
    :where(code):not(
      :where([class~="not-prose"], [class~="not-prose"] *)
    )::before,
  .prose
    :where(code):not(
      :where([class~="not-prose"], [class~="not-prose"] *)
    )::after {
    content: "" !important;
  }
  .prose {
    a,
    code {
      @apply dark:text-neutral-400;
    }
    pre {
      @apply border-none p-0 m-0;
      div {
        @apply !my-0;
      }
    }
  }
}

@layer components {
  .link-card {
    @apply -mx-1.5 -my-1 rounded bg-transparent px-1.5 py-1 transition-colors duration-300;
  }

  .content-wrapper {
    @apply z-[1] w-full px-6 pb-8 pt-8 lg:px-8 lg:pb-16 lg:pt-24;
  }

  .content {
    @apply mx-auto w-full lg:mb-0 lg:max-w-screen-lg;
  }

  .link {
    @apply text-blue-600 hover:underline hover:underline-offset-4;
  }

  .inline-code {
    @apply inline-block rounded-md bg-gray-100 px-0.5 py-0.5 text-sm not-italic before:content-['`'] after:content-['`'];
  }

  .thumbnail-shadow {
    box-shadow: 0 0 0 0.5px #e2e8f0, 0 0 0 1px rgba(226, 232, 240, 0.5),
      0 0 0 1px #f8fafc, 0 0 0 2px #f1f5f9, 0 10px 15px -3px rgb(59 130 246/5%),
      0 2px 4px -2px rgb(59 130 246/5%);
  }

  .scrollable-area {
    @apply h-full max-h-dynamic-screen min-h-dynamic-screen overflow-y-auto overflow-x-hidden;
  }

  .gridient-bg {
    will-change: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
    filter: blur(160px);
    .polygon {
      position: absolute;
      opacity: 0.45;
      transition: all ease-out 0.5s;
      transform: scale(1);
    }
    .g-polygon-1 {
      bottom: 100px;
      left: 25%;
      /* transform: translate(-50%); */
      width: 45vw;
      height: 55vh;
      clip-path: polygon(0 10%, 30% 0, 100% 40%, 70% 100%, 20% 90%);
      animation: scale-in-middle 2.5s linear;
    }
    .g-polygon-2 {
      bottom: 0;
      left: 2%;
      /* transform: translate(-50%); */
      width: 65vw;
      height: 50vh;
      animation: scale-in-bottom 2.5s linear;
      clip-path: polygon(10% 0, 100% 70%, 100% 100%, 5% 90%);
    }
    .g-polygon-3 {
      bottom: 0;
      left: 28%;
      /* transform: translate(-50%); */
      width: 65vw;
      height: 50vh;
      animation: scale-in-bottom 2.5s linear;
      clip-path: polygon(80% 0, 100% 70%, 100% 100%, 20% 90%);
    }
  }

  .text-neon-neutral {
    @apply text-transparent bg-clip-text bg-gradient-to-br from-neutral-950 to-neutral-500 dark:from-white dark:to-neutral-700;
  }
}

@layer utilities {
  .word-break-word {
    word-break: break-word;
  }

  .px-safe {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  .bg-dots {
    @apply bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px];
  }

  .bg-grid {
    @apply bg-white dark:bg-neutral-950/80 bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)] bg-[size:24px_24px];
  }
}

@keyframes scale-in-middle {
  0% {
    transform: scale(0.25);
    bottom: 150px;
  }
  40% {
    transform: scale(1.15);
    bottom: 140px;
  }
  100% {
    transform: scale(1);
    bottom: 100px;
  }
}

@keyframes scale-in-bottom {
  0% {
    transform: scale(0.25);
    bottom: 50px;
  }
  40% {
    transform: scale(1.15);
    bottom: 40px;
  }
  100% {
    transform: scale(1);
    bottom: 0;
  }
}

.dark {
  .thumbnail-shadow {
    box-shadow: 0 0 0 0.5px #171717, 0 0 0 1px rgba(48, 48, 48, 0.5),
      0 0 0 1px #404040, 0 0 0 2px #262626, 0 10px 15px -3px rgb(59 130 246/5%),
      0 4px 6px -4px rgb(59 130 246/5%);
  }
}

.flip-tilt-card > div > div:last-child {
  box-shadow: none !important;
}
